<!-- <div class="row">
  <div class="col-md-12">
    
    <nb-card class="inline-form-card">
        <nb-card-header>Search Criteria</nb-card-header>
        <nb-card-body>
        <form class="form-inline">
          <div class="col-md-1 float-right">
              <label>Search For &nbsp;</label>
          </div>
          <div class="col-md-2 form-group">    
              <select class="form-control-sm">
                <option>Customer Name</option>
                <option>Customer Contact Name</option>
              </select>
          </div>
          <div class="col-md-5 input-group input-group-sm float-left">
              <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Enter Search Value">
          </div>
          <div class="col-md-1">
              <button nbButton size="xsmall" type="submit" class="btn btn-primary">Search</button>
          </div>  
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
<nb-card>
  <nb-card-header>Customer Search</nb-card-header>
  <nb-card-body>
    <dx-data-grid id="gridContainer" [dataSource]="customers"
      [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']" [showBorders]="true" [rowAlternationEnabled]="true"
      [showRowLines]="true">
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="multiple">
        <!-- or "single" | "none" -->
      </dxo-sorting>
      <dxo-paging [pageSize]="8" [enabled]="true"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 16, 50]" [showInfo]="true"></dxo-pager>
      <dxo-scrolling mode="scrollMode"></dxo-scrolling>
    </dx-data-grid>
  </nb-card-body>
</nb-card>